*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.main-login{
    border: 1px solid rgb(163, 250, 134);
    margin: 0px auto;
    width: 65%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 3px 3px 15px #2bc22b;
}

/*
*Estilos al título del login
*/
.title-login{
    color: #71a5f7;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    text-shadow: 3px 3px 3px #fd9013;
    font-family: 'Times New Roman', Times, serif;
}

body div.main-login h1.title-login span{
    font-size: 35px;
    color: rgb(241, 241, 238);
    background-color: rgb(178, 176, 176);
}
.tbl-login{
    width: 70%;
    margin: 0px auto;
}

.tbl-login, .tbl-login tr, .tbl-login td{
    border: 1px solid #9f9e9e;
    border-collapse: collapse;
}

.tbl-login td{
    padding: 7px;
}

.input-form{
    border: 1px solid #2658ff;
    border-radius: 5px;
    padding: 7px;
    color:rgb(71, 69, 69);
    width: 95%;
}

.lbl-form{
    font-size: 20px;
}

.lbl-txt{
    text-align: right;
}

.tableForm{
    margin-top: 15px;
}

.hr-line{
    border: 1px solid #757575;
    margin: 15px auto;
    width: 80%;
}

.btn-form{
    text-align: center;
}

.btn-login{
    padding: 10px;
    border: 1px solid rgb(143, 254, 143);
    border-radius: 5px;
    width: 150px;
    background-color: rgb(56, 136, 247);
    color: #000;
    font-weight: bold;
}

.btn-login:hover{
    cursor: pointer;
}

