*{
    margin: 100;
    padding: 100;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
    180deg,
    rgb(65, 6, 184) 0%,
    rgba(255, 0, 0, 0.87) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form{
    background-image: url(img/bg.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

form img{
    width: 70px;
    margin-bottom: 25px;
}

.input-container{
    position: relative;
}

.input-container > i{

    padding: 14px;
    border-radius: 50%;
    background-color: #6D2FE3;
    color: #FCFEF7;
    position: absolute;
    font-size: 20px;
    top: 7px;
    right: 8px;
}

.input-container>input{
    padding: 20px 50px 20px 15px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #C48AFB;
    font-size: 16px;
    outline: none;
    color: #FCFEF7;
}

::placeholder{
    color: #FFEFFF;
    font-size: 16px;
}

form a{
    display: block;
    color: #FCFEF7;
    font-size:15px;
    text-decoration: none;
    margin-bottom: 25px;
}


.botons{
    background-color: #7D36FF;
    padding: 14px 35px;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: #FCFEF7;
    cursor: pointer;
    font-size: 15px;
}

.success{
    position: absolute;
    top: 50px;
    color: #FCFEF7;
    font-size: 50px;
}

.error{
    position: absolute;
    top: 50px;
    color: red;
    font-size: 20px;
}

@media(max-width:991){

    body{
        padding: 30px;
    }

    form{
        width: 100%;
    }

}